/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

html {
    font-size: 12pt;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#threejs-container {
    position: block;
    width: 100%;
    height: 100%;
}
