/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 12pt;
}

body {
    height: 100vh;
    width: 100vw;
}

#threejs-container {
    position: block;
    width: 100%;
    height: 100%;
}
